doctype html 
html
  head
    title Pradip's Singing Class 
    block style 
  body
    ul 
      li #[a(href="/") Home ]
      li #[a(href="/") About us ]
      li #[a(href="/") Classes ]
      li #[a(href="/contact") Contact us ]
    block content
    footer Copyright © 2021 www.PradipSingingClass.com
      