doctype html
html
  head
    title Singing Classes
    style
      include ../static/style.css
  body
    ul 
     li #[a(href="/") Home ]
     li #[a(href="/") About us ]
     li #[a(href="/") Classes ]
     li #[a(href="/") Contact us ]
  
    section#introsection 
     h2 Singing Class 
     div This is the best singing Class in Kolkata 

    section#templates 
     div.card 
       h2.cardhead Minor Chord 
       h2.cardcontent Reasearch and learn the new techniques about the minor chord progression to improve yout music skills 
       div.cardimage 
          img(src="../static/skills1.webp")
     div.card 
       h2.cardhead Performence 
       h2.cardcontent Everyday you need to practice the unshakable voice to improve your music skills nd also dont forget to practice everyday
       div.cardimage 
          img(src="../static/skills2.jpg")

    section#sponcerssection 
     h2 We have the sponsfers from many big tech companies 
     
    
    